<div class="container">
    <div class="post clearfix">
      <a href="#" class="thum pull-left">
        <img src="img/tigre.jpeg" alt="Imagen de tigre">
      </a>


    </div>

    <div  ng-controller="appController1">
      <h2 class="post-title">{{datos1.name}}</h2>
      <p>{{datos1.email}}</p>
      <p>{{datos1.address.street}}</p>
      <p>{{datos1.company.name}}</p>
      <p>{{datos1.company.catchPhrase}}</p>
    </div>
  </div>

  <div class="" ng-controller="singlePostController">
    <p>{{post.title}}</p>
    <p>{{post.body}}</p>
  </div>


</div>
